/**
 * @name BetterDiscord
 * @author Rowen
 * @authorId 1122558146464989314
 * @authorLink https://oakandfire.github.io/
 * @version 3.2.2
 * @description A sleek, customizable Discord theme.
 * @donate https://www.youtube.com/watch?v=xvFZjo5PgG0
 * @website https://oakandfire.github.io/
 * @website https://www.youtube.com/watch?v=xvFZjo5PgG0
*/
@import url(https://plusinsta.github.io/discord-plus/src/DiscordPlus-source.theme.css);

.theme-dark {
/* Backdrop image which is shown behind the app. Can also be an HTML color. Falls back to accent color if invalid.
   To use an image from your computer, upload it somewhere first, copy its link, then paste it below. */
  --dplus-backdrop: url(https://i.imgur.com/VSKgOVu.png);

/* Accent color, used to decorate the UI with colors. */
  --dplus-accent-color-hue: 0;
  --dplus-accent-color-saturation: 0%;
  --dplus-accent-color-lightness: 3%;
  --dplus-accent-color-alpha: 0.4;

/* Foreground color: For things like text and icons. */
  --dplus-foreground-color-hue-base: 0.5;
  --dplus-foreground-color-hue-links: 0;
  --dplus-foreground-color-saturation-amount: 0;
  --dplus-foreground-color-lightness-amount: 3;

/* Background color: Covers the backdrop so the app is easier to read. */
  --dplus-background-color-hue: 0;
  --dplus-background-color-saturation-amount: 0;
  --dplus-background-color-lightness-amount: 0;
  --dplus-background-color-alpha: 0.3;
}

.theme-light {
  --dplus-backdrop: url(https://i.imgur.com/JAPjQ1H.jpeg);
  
  --dplus-accent-color-hue: 320;
  --dplus-accent-color-saturation: 60%;
  --dplus-accent-color-lightness: 31%;
  
  --dplus-foreground-color-hue-base: 210;
  --dplus-foreground-color-hue-links: 197;
  --dplus-foreground-color-saturation-amount: 1;
  --dplus-foreground-color-lightness-amount: 1;

  --dplus-background-color-hue: 320;
  --dplus-background-color-saturation-amount: 1;
  --dplus-background-color-lightness-amount: 1;
  --dplus-background-color-alpha: 0.8;
}

@font-face {
  font-family: 'HachiMaruPop';
  src: url('https://raw.githubusercontent.com/Scottsito/hachimarufont/main/HachiMaruPop-Regular.ttf') format('truetype');
}

:root {
  --dplus-font-ui: 'HachiMaruPop';
  --dplus-font-body: 'HachiMaruPop';
  --dplus-font-header: 'HachiMaruPop';

/* Round corner sizes, measured in pixel radius.
Set avatar/server radius to 50% to make them circular.
   UI radius must be in pixels, otherwise things break. */
  --dplus-radius-ui: 10px;
  --dplus-radius-avatar: 20%;
  --dplus-radius-server: 20%;

/* This decides how much breathing room there should be between things like buttons and content. */
  --dplus-spacing-ui:5px;

/* This sets how much space there should be between the app contents and the edges of the window. It also affects the distance between major UI elements, such as the server list to the channel list and channel list to the chat. */
   --dplus-spacing-app: 10px;

/* Size of user and server icons */
--dplus-icon-avatar-chat: 64px;
--dplus-icon-avatar-list: 32px;
--dplus-icon-avatar-profile: 80px;

--dplus-icon-server-sidebar: 48px;
--dplus-icon-server-list: 32px;

/* The Home icon on the top left */
--dplus-icon-home-dark: url(https://plusinsta.github.io/discord-plus/assets/discord/home_light.svg);
--dplus-icon-home-light: url(https://plusinsta.github.io/discord-plus/assets/discord/home_light.svg);
}

/* Force only message/markdown links to be blue */
a[href]:not(.anchorUnderlineOnHover-2ESHQB) {
  color: #1e90ff !important;
  text-decoration-color: #1e90ff !important;
}

a[href]:hover:not(.anchorUnderlineOnHover-2ESHQB) {
  color: #3aa0ff !important;
  text-decoration-color: #3aa0ff !important;
}
